.venv/
__pycache__/
*.pyc
.env
.git/
.github/
node_modules/
tests/
scripts/
data/
backup/
app/static/icon_big.png
app/static/icon_small.png
package.json
package-lock.json
tailwind.config.js
tailwind.input.css
*.pdf
todo.txt
=0.3
